<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <img src="../img/capa.png" alt="capa">
    </header>
    <menu>
        <a href="index.html">Home</a>
        <a href="biografia.html">Biografia</a>
        <a href="campanhas-publicitarias.html">Campanhas Publicitárias</a>
        <a href="">Contato</a>
    </menu>

        <!--Inicio Conteudo-->
    <main>
        <article>
            <h1>Sobre Ana Bella</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque consectetur quas sed dolorum ipsum voluptates, delectus non nulla iure id impedit libero nam. Minima nostrum nam quidem eos neque ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aspernatur ratione dolorem. Ex ratione eligendi laudantium ipsam, illo perspiciatis ea. Labore impedit nam, error delectus quos quo itaque neque aliquid! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi facere non architecto quo deleniti aut eius consequuntur sed, ratione quae cupiditate necessitatibus numquam adipisci doloremque molestiae. Nulla ipsa quasi alias.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, veritatis! Quis dicta ea deleniti sapiente! Quia iste iure deserunt dolorem consequuntur aspernatur iusto, necessitatibus quis eos earum quae ab alias? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima voluptate ipsa placeat provident est debitis assumenda ab quo natus, ducimus nesciunt maxime, quidem repellat qui, delectus quis fuga ipsum repellendus.</p>
        </article>


    </main>
    <footer>
            <h4>Todos os direitos reservados</h4>
    </footer>
</body>
</html>