body {
    background: url(../images/capa.png),
    url(../images/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
#home {
    height: 100vh;
}

nav.navbar-transparent {
    padding: 15px 0px;
    background-color: rgb(0, 0, 0, 0.6);
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: #1ED760;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.divisor {
    width: 1px;
    background-color: white;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}
h1 {
    font-weight: 900px;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}
h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}



.btn-custom {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}
.btn-roxo {
    background: #7c25f8;
}
.btn-roxo:hover {
    background: #6207e3;
    color: white;
}
.btn-branco {
   border: 2px solid white;
}
.btn-branco:hover {
    background: white;
    color: black;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    text-decoration: none;
}

.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}
#servicos {
    background-color: white;
    margin-right: 0;
}

#servicos h2, h3 {
    color: #7c25f8;
}

#recursos {
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}

#recursos h2 {
    color: white;
}
.albuns {
    padding: 10px 0;
}

.rotacionar {
    transform: rotate(30deg);
    padding-left: 80px;
}

footer {
    background-color: black;
    padding: 50px 0px 20px 0;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a{
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
    font-size: 0.8em;
    
}

footer ul {
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px;
}



@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
        
    }

    
}

