<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecBlog - O seu Blog de tecnologia</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="area-cabecalho">
        <div id="area-logo">
            <h1>Tec<span class="branco">Blog</span></h1>
        </div>
        <div id="area-menu">
            <a href="">Home</a>
            <a href="">Jogos</a>
            <a href="">Celulares</a>
            <a href="">Informática</a>
            <a href="">Eletrônicos</a>
        </div>
    </div>

    <div id="area-principal">
        <div id="area-postagens">
            <div class="postagens">
                <h2>Titulo da postagem 1</h2>
                <p class="data-postagem">postado 20 de março 2025</p>
                <img width="620px" src="../images/imagem1.jpg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora laborum quibusdam hic quis odit cum accusantium quo ipsam quaerat qui, libero, asperiores pariatur! Eos voluptates exercitationem voluptas blanditiis nam at.</p>
                <a href="">Leia mais</a>
            </div>
            <div class="postagens">
                <h2>Titulo da postagem 2</h2>
                <p class="data-postagem">postado 10 de março 2025</p>
                <img width="620px" src="../images/imagem2.jpg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora laborum quibusdam hic quis odit cum accusantium quo ipsam quaerat qui, libero, asperiores pariatur! Eos voluptates exercitationem voluptas blanditiis nam at.</p>
                <a href="">Leia mais</a>
            </div>
        </div>
        <div id="area-lateral">
            <div class="conteudo-lateral">
                <h3>Postagens recentes</h3>
                <div class="postagem-lateral">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <a href="">Leia mais</a>
                </div>
                <div class="postagem-lateral" style="border-bottom: none;">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <a href="">Leia mais</a>
                </div>
            </div>
        </div>
        <div id="area-lateral">
            <div class="conteudo-lateral">
                <h3>Categorias</h3>
                <a href="">Jogos</a><br>
                <a href="">Celulares</a><br>
                <a href="">Informática</a><br>
                <a href="">Eletrônicos</a><br>
                <a href="">Jogos</a><br>
            </div>
        </div>
        <div id="rodape">
            Todos os direitos reservados.
        </div>
    </div>
</body>
</html>